.git
.idea
.vscode
.DS_Store
__pycache__
.env
.dvc

README.md
LICENSE
.pre-commit-config.yaml
requirements.txt

configs/train
configs/metric
configs/compress.yaml

dvc_data/metrics.dvc
dvc_data/metrics
dvc_data/weights.dvc
dvc_data/onnx.dvc

submodules/basicsr/.git
submodules/basicsr/.vscode
submodules/basicsr/.github
submodules/basicsr/assets
submodules/basicsr/colab
submodules/basicsr/datasets
submodules/basicsr/docs
submodules/basicsr/experiments

submodules/real-esrgan/.git
submodules/real-esrgan/.eggs
submodules/real-esrgan/assets
submodules/real-esrgan/docs
submodules/real-esrgan/weights

submodules/resshift/.git
submodules/resshift/assets
submodules/resshift/basicsr
submodules/resshift/testdata

submodules/emt/.git

datasets
datasphere
docs
images
logs
metric
mlflow
unreal-engine
train
experiments
tb_logger
optimization
