.git
.idea
.vscode
.DS_Store
__pycache__
.env
.dvc

README.md
LICENSE
.pre-commit-config.yaml

configs/metric
configs/compress.yaml

docs

dvc_data/metrics.csv.dvc
dvc_data/metrics.csv
dvc_data/weights.dvc

images
logs
metric

submodules/real-esrgan/.git
submodules/real-esrgan/.eggs
submodules/real-esrgan/assets
submodules/real-esrgan/docs
submodules/real-esrgan/weights

submodules/resshift/.git
submodules/resshift/assets
submodules/resshift/basicsr
submodules/resshift/testdata

unreal-engine
